.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header {
    border-radius: 4px;
    padding: 20px;
}

.navigation a:hover {
    color: #90ffd8;
    text-decoration: underline;
}

.linktext {
    font-family: Karantina;
    font-size: 2rem;
    letter-spacing: 0.12rem;
}

.title {
    font-family: Karantina;
    font-size: 5.5rem;
    margin-left: 1%;
    letter-spacing: 0.12rem;
}